<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SearchItem</servlet-name>
        <servlet-class>SearchItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart</servlet-name>
        <servlet-class>AddCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillGenerator</servlet-name>
        <servlet-class>BillGenerator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchItem</servlet-name>
        <url-pattern>/SearchItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart</servlet-name>
        <url-pattern>/AddCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillGenerator</servlet-name>
        <url-pattern>/BillGenerator</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
